.header{ 
    // margin: 0 0 6rem 0 ; 

    &__fab{

            border-radius: 7% !important; 
            width: 4.5rem !important;
            height: 4.3rem !important;
            box-shadow: none !important;
            &:not(:first-child){
                margin-left: 1.5rem ; 
            } 
       

            &:hover{
                background-color: $color-background  !important; 
            }


            &--search{
                border-radius: 50% !important; 
                background-color: $color-white !important ; 
                &:hover{
                    background-color: $color-white  !important;
                    box-shadow: 0 3.5px 10px rgba($color-black, .15) !important ;                        
                }
            }
    }
    &__icon{
         &--search{
             color:$color-gray-1 ;
         }   
    }

    
    &__search-textField{
        direction: rtl ;
        text-align: right ;
        
        &::placeholder{
            color: red !important;
            background-color: red !important  ;
        }
        margin-left: 1rem !important;
        transform: translateY(-1rem) !important;
        label{
            right: 0 !important ;    
        }
    }


    &__navigation{
    
        padding: 1.3rem 2.1rem ;
        display: flex ;
        justify-content: space-between ;   
        align-items: center;
       
 &--profile{
                
                width: 50%;
                direction: ltr ;

                @include respond(port-tab){
                    display: none ;
                }
        } 

        &--button-brand{
            width: 50%; 
        } 

        &--menuButton{
             cursor: pointer;
             opacity: 0;
             visibility: hidden;
             @include respond(port-tab){
                opacity: 1;
                visibility: visible;
             }
        }
    }    

    
}
