//admin panel navigation
.navigation {
  @include respond(from-port) {
    width: 15%;
    position: absolute;
  }
  height: 100vh;
  background-image: linear-gradient(rgba($color-black, 0.75) 100%, transparent),
    url('./assets/sidebar-2.d30c9e30.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 2rem 4.5rem rgba($color-black, 0.15);
  // overflow-y: scroll ;

  color: rgba($color-white, 0.8);
  &__link {
    &:visited,
    &:link {
      font-size: 1.6rem;
      color: inherit;
      display: inline-block;
      width: 77%;
      padding: 1.5rem 10px;
      border-radius: 5%;
      transition: all 0.4s;
      margin-right: 2rem;
    }

    &--icon {
      padding: 0 0 0 7px;
      transform: translateY(0.5rem);
    }
    &:hover,
    &:active {
      background-color: rgba(200, 200, 200, 0.2);
      color: $color-white;
    }
  }

  &__item {
    list-style: none;
    text-align: right;
  }

  &__list {
    box-sizing: border-box;
    margin: 1.5rem 0;
    padding: 0;
  }

  &__active {
    background-color: #00acc1;
    color: $color-white;
  }

  &__brand {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    border-bottom: 1px solid $color-gray-1;
    display: inline-block;
    &--name {
      margin: 0;
      text-align: center;
      font-size: 2rem;
      transform: translateY(0.5rem);
    }

    &--icon {
      font-size: 4rem !important ;
      float: right;
    }
  }
}
