


.layout{
    display: flex ;
    &__navigation{
         flex: 0 1 25rem ;
         transition: all .2s ease-in ;     
        //   position: fixed; 
        //   top: 0; 
        //   right: 0  ;
        //   width: 25rem; 
         @include respond(land-tab){
             flex : 0 1 19rem ;
             width: 19rem; 

         }
         @include respond(port-tab){
            position: absolute ; 
            width: 0 ; 
            transform: translateX(20rem) ; 
         }

        &__backDrop{
            // z-index: ;
            @include respond(port-tab){
                position: fixed;
                z-index: 1;
                top: 0  ;
                left: 0;
                width: 100vh; 
                height: 100vh ; 
                background-color: rgba($color-black,.2 ) ;
            }    
        } 

        &__show{
            @include respond(port-tab){
                position: fixed ;
                width: 26rem;
                transform: translateX(0);
                z-index: 3;
            }    
        }
    }

    &__content{
        flex: 1 ;
        overflow-x: scroll ;      
    }
}

