.layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;

  &__content {
    flex-basis: 80%;
  }
  &__navigation {
    flex-basis: 30%;
    transition: all 0.2s ease-in;
    flex-grow: 1;

    position: fixed;
    top: 0;
    left: 0;
    @include respond(land-tab) {
      flex-basis: 19rem;
    }
    @include respond(port-tab) {
      position: absolute;
      width: 0;
      transform: translateX(20rem);
    }

    &__show {
      @include respond(port-tab) {
        position: fixed;
        width: 26rem;
        transform: translateX(0);
        z-index: 3;
      }
    }
    &__backDrop {
      @include respond(port-tab) {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: rgba($color-black, 0.2);
      }
    }
  }
}
